#greeting {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

#clock-date {
    font-size: 1.5rem;
    font-weight: 700;
}

.clock_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* clock panel  */
.clock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-image: url(https://s1.ax1x.com/2020/06/26/NsIces.png);
    background-size: cover;
    border: 4px solid #dcdcdc;
    /* Changed to blue */
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.1),
        inset 0 -15px 15px rgba(255, 255, 255, 0.1),
        0 15px 15px rgba(0, 0, 0, 0.1),
        inset 0 15px 15px rgba(0, 0, 0, 0.1);
    /* Adjusted shadow for neumorphism effect */
    border-radius: 50%;
}

/* clock center */
.clock::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    z-index: 10;
}

.clock {
    .container {
        position: absolute;
        width: 160px;
        height: 160px;
        transform-origin: 50% 50%;

        .pointer {
            position: absolute;
        }

        .hour {
            width: 8px;
            height: 65px;
            background: #4b4b4b;
            z-index: 1;
            border-radius: 6px 6px 0 0;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
        }

        .min {
            width: 4px;
            height: 80px;
            background: #4b4b4b;
            z-index: 2;
            border-radius: 6px 6px 0 0;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .sec {
            width: 2px;
            height: 90px;
            background: #4b4b4b;
            z-index: 3;
            border-radius: 6px 6px 0 0;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
